* {
    margin: 0px;
    padding: 0px;
}

.itel {
    color: rgb(9, 90, 144)
}

.r {
    color: rgb(7, 1, 1);
}

.g {
    color: green;
}

table {
    text-align: center;

}

.preto {
    color: black;
}

.branco {
    color: white;
}


header {
    background-color: rgb(7, 25, 194);
    box-shadow: 0px 3px 10px rgb(0, 0, 0);




}

body {
    background-color: #0f172a;
    color: white;
    font-family: Arial;
    background-image: url(img/img-2-fundo.png);
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    flex-wrap: wrap;

}

nav {
    background-color: #020617;
    padding: 20px;
    font-weight: bold;
    text-align: center;
}

nav a {
    color: #38bdf8;
    margin-right: 15px;
    text-decoration: none;
    text-align: center;
    font-size: medium;
}

nav a:hover {
    color: rgb(255, 255, 255);
}

footer {
    padding: 20px;
    margin-top: 30px;
    text-align: center;
    background-color: #020617;
}

div {
    text-align: center;
}

section {
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


}

.card {
    background: #01204d;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 300px;
    overflow: hidden;
    flex-direction: column;




}



.carousel article {
    margin-top: 20px;
}

.carousel img {
    border-radius: 10px;
    width: 70%;
}

.card a {
    text-decoration: none;
    color: white;
}

.card a:hover {
    color: #3174d9;

}

.card:hover {
    transform: scale(1.05);
}

html {
    scroll-behavior: smooth;
}

form {
    background-color: #002858a6;
    padding: 30px;
    border-radius: 12px;
    width: 500px;
    margin: 0 auto;
}

form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form label {
    margin-bottom: 8px;
    font-weight: bold;
}

form input,
form select {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 8px;
}

form .titulo-checkbox {
    font-size: 16px;
    margin-bottom: 10px;
}

form button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: rgb(0, 42, 167);
    color: white;
    cursor: pointer;

}

article a {
    text-decoration: none;
    color: #ffffff;
}

.center {
    text-align: center;
}

.conteudo-ram {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.cards-esquerda {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.banner-ram img {
    width: 1000px;
    height: 500px;
    border-radius: 40px;
    margin: 50px auto;
    display: block;
    margin-left: 180px;

}

/*pagina sobre*/
.sobre {
    width: 80%;
    max-width: 1000px;
    margin: 50px auto;
    padding: 40px;
    background: black;
    border-radius: 20px;

    color: white;
    text-align: center;
}

.sobre h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.sobre h2 {
    color: #00aaff;
    margin-top: 30px;
}

.sobre p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 15px;
}

.sobre ul {
    list-style: none;
}

.sobre li {
    margin: 10px 0;
    font-size: 1.1rem;
}

table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    color: white;
}

th,
td {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #003b8b;
}

.titulo-comparacao {
    background: rgba(4, 29, 110, 0.897);
    color: white;
    text-align: center;
    padding: 12px;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 15px;
}

.container-dicas {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

.dica {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dica h3 {
    margin-top: 0;
    color: #007bff;
}

.dica p {
    line-height: 1.6;
    color: black;
}

.periferico {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    color: black;
}

.periferico h3 {
    margin-top: 0;
    color: #007bff;
}

.fonte {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: black;
}

.fonte h3 {
    margin-top: 0;
    color: #007bff;
}

main {
    width: 90%;
    margin: auto;
}

.banner-gabinete {
    width: 80%;
    margin: 30px auto;
    text-align: center;
}

.banner-gabinete h1 {
    font-size: 50px;
    margin-bottom: 15px;
    border-bottom: 3px solid rgb(0, 183, 255);
    display: inline-block;
    padding-bottom: 10px;
}

.banner-gabinete p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
}

.recomendacoes {
    width: 80%;
    margin: auto;
}

.recomendacoes h2 {
    margin-bottom: 20px;
}

.card-gabinete {
    background-color: rgba(0, 35, 90, 0.9);
    border: 1px solid rgb(0, 183, 255);
    border-radius: 10px;

    padding: 20px;
    margin-bottom: 20px;

    transition: 0.3s;
}

.card-gabinete:hover {
    transform: translateY(10px);
}

.card-gabinete h3 {
    margin-bottom: 10px;
}

.card-gabinete p {
    line-height: 1.5;
}
/* Banner */

.banner-manutencao {
    text-align: center;
    width: 80%;
    margin: 30px auto;
}

.banner-manutencao h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: white;
}

.banner-manutencao p {
    font-size: 18px;
    line-height: 1.6;
}

/* Cards */

.tipos-manutencao {
    width: 80%;
    margin: 40px auto;

    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card-manutencao {
    width: 280px;

    background-color: rgba(0, 35, 90, 0.8);

    border: 1px solid rgb(0, 183, 255);

    border-radius: 10px;

    padding: 20px;

    text-align: center;

    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}

.card-manutencao h3 {
    margin-bottom: 15px;
}

.card-manutencao p {
    line-height: 1.5;
}


/* Dicas */

.dicas-manutencao {
    width: 80%;

    margin: 40px auto;
}

.dicas-manutencao h2 {
    margin-bottom: 20px;
}

.dicas-manutencao ul {
    padding-left: 20px;
}

.dicas-manutencao li {
    margin-bottom: 12px;
    line-height: 1.5;
}